* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: #3B3F45;
}


.app {
}

.block {
  text-align: center;
  width: 100%;
  color: #FF8984;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: auto;
  line-height: 1;

}

.title-block {
  background-color: #4A4F56;
  padding-top: 19px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title h1 {
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
}

.subtitle {
  font-weight: normal;
  font-size: 16px;
  margin: 0px;
  line-height: 1;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.list {
  width: 100%;
  max-width: 534px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 45px;
}

.list-item {
  width: 100%;
  
}


ul {
  list-style-type: none;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:8px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  height: 45px;
  background-color: #88839E;
  border: 2px transparent solid;
  line-height: 1;
  font-size: 18px;
  font-weight: normal;
  color: #fff;

}

.list-item:nth-child(even) .item {
  background-color: #7A7593;
}

.item:hover, .list-item:nth-child(even) .item:hover  {
  background-color: #625E77;
  border-top: 2px white solid;
  border-bottom: 2px white solid;
}

.item-title {
  color: #fff;
}

.description {
  line-height: 1;
  font-size: 11px;
  color: #fff;
}


.description::before {
  content: "(";
}
.description::after {
    content: ")";
}

.item input:checked ~ span {
  text-decoration: line-through;

}

 .item input:checked .list-item {
  box-shadow: 4px 5px 4px black;
  z-index: 999;

}

button {
  width: 100%;
  font-size: 18px;
  padding: 12px 0;
  background-color: #4A4F56;
  max-width: 534px;
  border: 0;
  cursor: pointer;

}

button a {
  color: #FF8984;
  text-decoration: none;
}

button:hover a {
  color: white;
}


button:hover {
background-color: #88839E;
}


.home {
  width: 100%;
  max-width: 534px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;

}

.home a {
  color: white;
}

.home a:hover {
  opacity: 0.6;
}