
:root {
  /* *Colors */
  --c-strikemaster: #996699;
  --c-heavy-green: #669999;
  --c-light-green: #99CC99;
  --c-light-blue: #3399CC;
  --c-light-red: #E2674A;
  --c-dark-blue: #2B81AC;
  --c-turquoise: #33CCCC;
  --c-dark-red: #C24747;
  --c-yellow: #FFCC66;
  --c-violet: #666699;
  --c-green: #339966;
  --c-pink: #CC6699;
  --c-white: #fff;
  
  /* * Fonts */
  --f-base: 'Nunito Sans', sans-serif;
  /* * Font sizes */
  --fs-base: 22px;
  /* * Transitions */
  --t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}



