@import './normalize.scss';
@import './variables.scss';


.home {
  padding-top: 12px;
  padding-bottom: 12px;
}

.home a:hover {
  opacity: 0.6;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 32px;
  padding-right: 32px;
}