

$c-light-blue: #3399CC;
$c-dark-blue: #2B81AC;
$c-dark: #2f281e;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-color: var($c-light-blue);
  font-size: 16px;
  font-weight: 400;
  color: var($c-dark-blue);
}

a {
  color: var($c-dark-blue);
  text-decoration: none;
  line-height: 1;
}



